<h2>Contact me</h2>
<form action="/contact/send-message" enctype="multipart/form-data" method="POST">
  {{#if isSent}}
    <div class="isSent">Message is send! File {{ name }} has been saved</div>
  {{/if}}

  {{#if isError}}
    <div class="isError">You can't leave empty fields</div>
  {{/if}}
  <label>
    Your name:
    <input type="text" name="author" />
  </label>
  <label>
    Your email:
    <input type="email" name="sender" />
  </label>
  <label>
    Title:
    <input type="text" name="title" />
  </label>
  <label>
    Message:
    <textarea name="message"></textarea>
  </label>
  <label>
    Message:
    <input name="recfile" type="file" accept=".png, .jpg, .jpeg, .gif"></input>
  </label>
  <button type="submit">Send message</button>
</form>